*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @include respond(small) {
    font-size: 56.25%; //1024,
  }
}

body {
  background-color: rgb(235, 234, 228);
}
ul {
  list-style: none;
}
img {
  width: 100%;
  margin: 0;
  display: block;
}
