/////
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  width: 80%;
  margin: 0 auto;
  height: 100%;
  grid-column-gap: 3rem;
  // color: #38524f;

  &__img--one {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  &__img--two {
    grid-row-start: 3;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  &__box {
    padding: 0 5rem;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;

    display: flex;
    gap: 5rem;

    &__title {
      font-size: 3rem;
    }
    &__desc {
      font-size: 2rem;
    }
  }
}

@media (max-width: 1024px) {
  .grid__img--one {
    grid-row-start: 3;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .grid__img--two {
    grid-row-start: 4;
    grid-row-end: 7;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .grid__box {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
.grid.even {
  @include grid;
}

.explore div {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin: 12rem;
  gap: 4rem;
  transform: rotate(-3deg);
}
.explore img {
  width: 50rem;
}
