.header {
  height: 35vw;
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__primary {
    display: flex;
    flex-direction: column;
    color: $color-heading;
  }
}
header {
  height: 80vh;
  margin-bottom: 3rem;
}

main {
  overflow: hidden;
}
