.nav {
  display: flex;
  justify-content: center;
  align-items: flex-end;

  height: 7rem;
  &__container {
    display: flex;
    justify-content: space-between;
    width: 90%;
  }
  &__ul {
    display: flex;
    gap: 2rem;
  }
}
