.header-bottom_img {
  width: 90%;
  margin-bottom: 15rem;

  @include respond(small) {
    width: 100%;
  }
}
.parallax {
  background-repeat: no-repeat;
  background-size: cover;
}
.dark_img {
  background-image: url("./img/daniele-levis-pelusi-kUzXgJ3-ThA-unsplash.jpg");
  height: 110vh;
  width: 100%;
}
.dark_imgend {
  background-image: url("./img/marc-szeglat-Rj21YHC1CIY-unsplash.jpg");
  height: 110vh;
  width: 100%;
  margin-bottom: 13rem;
}

.letters {
  margin: 0 auto;
  margin-bottom: 25rem;
  display: flex;
  justify-content: center;
  overflow: hidden;

  &__box {
    width: 100%;
    border-top: 0.1rem solid rgb(47, 66, 64);
    text-align: center;
  }
}

.main__title {
  color: $color-light;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 90%;
  gap: 4rem;
  align-items: flex-start;
  margin: 0 auto;
  margin-bottom: 15rem;

  @include respond(small) {
    .main__title__order {
      display: none;
    }
  }
}

.main__title__desc {
  display: flex;
  flex-direction: column;
}

.darkbg {
  background-color: $color-dark;
  color: $color-light;
  padding-bottom: 0.7rem;
  box-sizing: border-box;
}

.scroll-img {
  transition: all 0.4s linear;
  overflow: hidden;
}

///@explore

.explore_conti {
  transform: translateX(10%);
  display: flex;
  justify-content: flex-end;
  gap: 5rem;
  width: 60%;
  margin-bottom: 13rem;
}

.explore {
  position: relative;
  width: 45%;
  max-width: 72rem;
  overflow: hidden;
  transform: rotate(-2deg);
  position: relative;

  &_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-2deg);

    z-index: 1000;
    text-align: center;
  }
}
.explore img {
  width: 100%;
  height: 100%;
  transition: all 2s ease;
}

.explore img:hover {
  transform: scale(1.1);
}
