body {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.nav {
  font-size: 2rem;
  font-weight: 700;
}
.header__primary {
  font-size: 12rem;
}
.grid__box__desc h4 {
  font-size: 4rem;
  margin-bottom: 5rem;
  // color: #38524fd5;
}
.grid__box__desc p {
  font-size: 2rem;
  margin-bottom: 5rem;
  // color: #38524fd5;
}
